*{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-drag: none;
}

html,
body{
    height: 100%;
    width: 100%;
    overflow-x: none;
    margin: 0;
    padding: 0;
    background-color: black;
}

@media screen and (min-width: 1080px){
    .container{
        height: 100%;
        width: 100%;
        display: block;
        background-color: black;
        position: relative;
    }

    #pledgeFront{
        display: flex;
        margin: 0 auto;
        height: 100%;
        width: 980px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }

    #slxLogo{
        margin-top: 150px;
        height: 75px;
        display: block;
    }

    #pledgeContainer{
        height: auto;
        max-width: 980px;
        color: white;
        font-family: 'Inter';
        font-size: 40px;
    }

    #pledgeContent{
        margin-top: 75px;
        height: auto;
        max-width: 900px;
        color: white;
        font-family: 'Inter';
        font-size: 20px;
    }

    #twiContainer{
        height: auto;
        background-color: rgb(115, 100, 250);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #twiContainerHead{
        font-family: 'Raleway';
        font-weight: 900;
        color: black;
        font-size: 60px;
        margin-top: 90px;
        margin-bottom: 30px;
    }

    #twiContent{
        max-width: 950px;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #tweet-slx-pledge{
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: black;
        text-decoration: none;
        font-family: 'Montserrat';
        font-size: 20px;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.3s;
        margin-bottom: 90px;
    }

    #tweet-slx-pledge:hover{
        color: black;
        background-color: rgb(115, 100, 250);
    }

    .contentContainer{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        min-height: 50px;
    }

    .halfContent{
        height: auto;
        width: 50%;
        color: white;
    }

    .halfContent h2{
        color: white;
        font-family: 'Raleway';
        margin-left: 100px;
        display: block;
        font-size: 38px;
        margin-top: 100px;
        font-weight: 300;
    }

    #backHome{
        height: auto;
        display: flex;
        justify-content: center;
        font-family: 'Montserrat';
    }
    #backHome a{
        margin-top: 100px;
        margin-bottom: 100px;
        cursor: pointer;
        color: white;
        font-size: 50px;
        text-decoration: underline;
        text-align: center;
    }
}


@media screen and (max-width: 1079px){
    .container{
        height: auto;
        width: 100%;
        display: block;
        background-color: black;
        position: relative;
    }
    
    #pledgeFront{
        display: flex;
        margin: 0 auto;
        height: auto;
        width: 850px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    
    #slxLogo{
        margin-top: 150px;
        height: 75px;
        display: block;
    }
    
    #pledgeContainer{
        height: auto;
        max-width: 750px;
        color: white;
        font-family: 'Inter';
        font-size: 40px;
    }
    
    #pledgeContent{
        margin-top: 75px;
        height: auto;
        max-width: 750px;
        color: white;
        font-family: 'Inter';
        font-size: 20px;
    }
    
    #twiContainer{
        height: auto;
        background-color: rgb(115, 100, 250);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #twiContainerHead{
        font-family: 'Raleway';
        font-weight: 900;
        color: black;
        font-size: 60px;
        margin-top: 90px;
        margin-bottom: 30px;
        text-align: center;
    }
    
    #twiContent{
        max-width: 750px;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #tweet-slx-pledge{
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: black;
        text-decoration: none;
        font-family: 'Montserrat';
        font-size: 20px;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.3s;
        margin-bottom: 90px;
    }
    
    #tweet-slx-pledge:hover{
        color: black;
        background-color: rgb(115, 100, 250);
    }
    
    .contentContainer{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        min-height: 50px;
    }
    
    .halfContent{
        height: auto;
        width: 50%;
        color: white;
    }
    
    .halfContent h2{
        color: white;
        font-family: 'Raleway';
        margin-left: 100px;
        display: block;
        font-size: 38px;
        margin-top: 100px;
        font-weight: 300;
    }
    
    #backHome{
        height: auto;
        display: flex;
        justify-content: center;
        font-family: 'Montserrat';
    }
    #backHome a{
        margin-top: 100px;
        margin-bottom: 100px;
        cursor: pointer;
        color: white;
        font-size: 50px;
        text-decoration: underline;
        text-align: center;
    }
}


@media screen and (max-width: 849px) {
    .container{
        height: auto;
        width: 100%;
        display: block;
        background-color: black;
        position: relative;
    }
    
    #pledgeFront{
        display: flex;
        margin: 0 auto;
        height: auto;
        width: 550px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    
    #slxLogo{
        margin-top: 150px;
        height: 75px;
        display: block;
    }
    
    #pledgeContainer{
        height: auto;
        max-width: 450px;
        color: white;
        font-family: 'Inter';
        font-size: 40px;
    }
    
    #pledgeContent{
        margin-top: 75px;
        height: auto;
        max-width: 450px;
        color: white;
        font-family: 'Inter';
        font-size: 20px;
    }
    
    #twiContainer{
        height: auto;
        background-color: rgb(115, 100, 250);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #twiContainerHead{
        font-family: 'Raleway';
        font-weight: 900;
        color: black;
        font-size: 60px;
        margin-top: 90px;
        margin-bottom: 30px;
    }
    
    #twiContent{
        max-width: 450px;
        font-family: 'Montserrat';
        font-size: 20px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #tweet-slx-pledge{
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: black;
        text-decoration: none;
        font-family: 'Montserrat';
        font-size: 20px;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.3s;
        margin-bottom: 90px;
    }
    
    #tweet-slx-pledge:hover{
        color: black;
        background-color: rgb(115, 100, 250);
    }
    
    .contentContainer{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .halfContent{
        height: auto;
        width: 100%;
        color: white;
    }
    
    .halfContent h2{
        color: white;
        font-family: 'Raleway';
        display: block;
        font-size: 38px;
        margin-top: 100px;
        font-weight: 300;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #backHome{
        height: auto;
        display: flex;
        justify-content: center;
        font-family: 'Montserrat';
    }
    #backHome a{
        margin-top: 100px;
        margin-bottom: 100px;
        cursor: pointer;
        color: white;
        font-size: 50px;
        text-decoration: underline;
        text-align: center;
    }    
}


@media screen and (max-width: 549px){
    .container{
        height: auto;
        width: 100%;
        display: block;
        background-color: black;
        position: relative;
    }
    
    #pledgeFront{
        display: flex;
        margin: 0 auto;
        height: auto;
        width: 400px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    
    #slxLogo{
        margin-top: 150px;
        height: 75px;
        display: block;
    }
    
    #pledgeContainer{
        height: auto;
        max-width: 350px;
        color: white;
        font-family: 'Inter';
        font-size: 30px;
    }

    #binw{
        font-size: 45px !important;
    }
    
    #pledgeContent{
        margin-top: 75px;
        height: auto;
        max-width: 350px;
        color: white;
        font-family: 'Inter';
        font-size: 18px;
    }
    
    #twiContainer{
        height: auto;
        background-color: rgb(115, 100, 250);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #twiContainerHead{
        font-family: 'Raleway';
        font-weight: 900;
        color: black;
        font-size: 60px;
        margin-top: 90px;
        margin-bottom: 30px;
    }
    
    #twiContent{
        max-width: 350px;
        font-family: 'Montserrat';
        font-size: 15px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #tweet-slx-pledge{
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: black;
        text-decoration: none;
        font-family: 'Montserrat';
        font-size: 15px;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.3s;
        margin-bottom: 90px;
    }
    
    #tweet-slx-pledge:hover{
        color: black;
        background-color: rgb(115, 100, 250);
    }
    
    .contentContainer{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .halfContent{
        height: auto;
        width: 100%;
        color: white;
    }
    
    .halfContent h2{
        color: white;
        font-family: 'Raleway';
        display: block;
        font-size: 28px;
        margin-top: 100px;
        font-weight: 300;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #backHome{
        height: auto;
        display: flex;
        justify-content: center;
        font-family: 'Montserrat';
    }
    #backHome a{
        margin-top: 100px;
        margin-bottom: 100px;
        cursor: pointer;
        color: white;
        font-size: 50px;
        text-decoration: underline;
        text-align: center;
    }        
}

@media screen and (max-width: 415px){
    .container{
        height: auto;
        width: 100%;
        display: block;
        background-color: black;
        position: relative;
    }
    
    #pledgeFront{
        display: flex;
        margin: 0 auto;
        height: auto;
        width: 300px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    
    #slxLogo{
        margin-top: 150px;
        height: 75px;
        display: block;
    }

    #slx{
        height: 50px;
    }
    
    #pledgeContainer{
        height: auto;
        max-width: 250px;
        color: white;
        font-family: 'Inter';
        font-size: 24px;
    }
    
    #binw{
        font-size: 30px !important;
    }
    
    #pledgeContent{
        margin-top: 50px;
        height: auto;
        max-width: 250px;
        color: white;
        font-family: 'Inter';
        font-size: 15px;
        margin-bottom: 30px;
    }
    
    #twiContainer{
        height: auto;
        background-color: rgb(115, 100, 250);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #twiContainerHead{
        font-family: 'Raleway';
        font-weight: 900;
        color: black;
        font-size: 40px;
        margin-top: 90px;
        margin-bottom: 30px;
    }
    
    #twiContent{
        max-width: 250px;
        font-family: 'Montserrat';
        font-size: 15px;
        font-weight: bold;
        color: black;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #tweet-slx-pledge{
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: black;
        text-decoration: none;
        font-family: 'Montserrat';
        font-size: 15px;
        border-style: solid;
        border-width: 3px;
        border-color: black;
        box-sizing: border-box;
        cursor: pointer;
        transition: all 0.3s;
        margin-bottom: 90px;
    }
    
    #tweet-slx-pledge:hover{
        color: black;
        background-color: rgb(115, 100, 250);
    }
    
    .contentContainer{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .halfContent{
        height: auto;
        width: 100%;
        color: white;
    }
    
    .halfContent h2{
        color: white;
        font-family: 'Raleway';
        display: block;
        font-size: 28px;
        margin-top: 100px;
        font-weight: 300;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    #backHome{
        height: auto;
        display: flex;
        justify-content: center;
        font-family: 'Montserrat';
    }
    #backHome a{
        margin-top: 100px;
        margin-bottom: 100px;
        cursor: pointer;
        color: white;
        font-size: 50px;
        text-decoration: underline;
        text-align: center;
    }
}