html,
body{
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color: rgb(218, 0, 0);
}

#container{
    height: 180px;
    width: 100%;
    display: block;
    position: relative;
}

#conhead{
    font-size: 45px;
    font-family: 'Montserrat';
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

#logo{
    padding: 10px 10px 10px 10px;
    background-color: black;
    height: 60px;
}

.container {
    margin: 50px;
    font-family: 'Lato', georgia;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(218, 0, 0);
    text-align: center;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }
  
  #contact-form {
    max-width: 90%;
    margin: 0 auto;
  }
  
  label {
    font-weight: 400;
    cursor: pointer;
  }
  
  textarea,
  input {
    border: none;
    outline: none;
    border-radius: 0;
    text-align: center;
    background: none;
    font-weight: 700;
    font-family: 'Lato', georgia;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    max-width: 90%;
    padding: 1rem;
    border: 2px dashed rgba(255, 255, 255, 0);
    box-sizing: border-box;
    cursor: text;
  }
  
  textarea {
    text-align: left;
    /* overflow:hidden; */
    
    resize: none;
    width: 90%;
    border-color: rgba(255, 255, 255, 0)
  }
  
  textarea:focus {
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px dashed rgba(255, 255, 255, 1);
  }
  
  textarea:focus:required:valid {
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  textarea:required:valid {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  input {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
  }
  
  input:required,
  textarea:required {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.5);
  }
  
  input:focus {
    border-bottom: 2px dashed rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  input:required:valid {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }
  
  input:required:invalid {
    color: rgba(255, 255, 255, 0.5);
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
  }
  
  :-moz-placeholder {
    /* Firefox 18- */
    
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
  }
  
  ::-moz-placeholder {
    /* Firefox 19+ */
    
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
  }
  
  :-ms-input-placeholder {
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 400;
  }
  
  .expanding {
    vertical-align: top;
  }
  
  .send-icn {
    fill: rgba(255, 255, 255, 1);
    transition: all ease-in-out 0.3s;
  }
  
  .send-icn:hover {
    fill: rgba(0, 0, 0, 1);
    cursor: pointer;
  }
  
  button {
    background: none;
    border: none;
    outline: none;
    margin: 2vmax;
  }
  
  button:hover small {
    opacity: 1;
  }
  
  small {
    display: block;
    opacity: 0;
  }
  
  .website {
    opacity: 1;
    font-size: 16px;
    color: white;
    position: relative;
    text-align: center;
    display: block;
    margin-top: 5%;
    
  }
  
  .website a {
    color: white;
  }

  .contact a{
    color: inherit;
    text-decoration: underline;
    font-size: inherit;
    transition: all ease-in-out 0.2s;
  }

  .contact a:hover{
    color: black;
  }

  .contact{
    opacity: 1;
    font-size: 16px;
    color: white;
    position: relative;
    text-align: center;
    display: block;
    margin-top: 0.5%;
  }