@media screen and (max-width: 1079px) and (min-width: 850px) {
    #containAll{height: inherit;}
    #menuContainer{display: none;}
    .container{
        height: 100%;
        width: 100%;
        display: block;
        position: relative;
    }

    .header{
        height: 50px;
        width: 100%;
        position: relative;
        background-color: rgb(12, 12, 12);
        display: flex;
        justify-content: center;
        z-index: 100;
    }

    #menu{
        display: none;
    }

    .navBar{
        height: 100%;
        width: 780px;
        max-width: 95%;
        display: flex;
        align-items: center;
        align-self: center;
    }

    .innerNavBar{
        height: 70%;
        width: 100%;
        position: relative;
        display: flex;
    }

    .logo{
        height: 100%;
        display: inline-block;
        height: 100%;
        cursor: pointer;
        padding-right: 40px;
    }

    .navele{
        display: none;
    }

    .navele_stg2{
        font-size: 15px;
        font-family: 'Montserrat';
        color: #969696;
        display: inline-block;
        align-self: center;
        margin-left: 15px;
        margin-right: 15px;
        cursor: pointer;
        transition: all ease-in 0.2s;
        fill: #969696;
    }
    .navele_stg2:hover{color: white;}
    .navele_stg2 svg{
        fill: inherit;
    }

    .connect{
        height: 80%;
        align-self: center;
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
        box-sizing: border-box;
        margin-left: auto;
        display: flex;
        align-items: center;
        background-color: greenyellow;
        cursor: pointer;
        border-radius: 5px;
        color: black;
        font-family: 'Montserrat';
        font-size: 15px;
        font-weight: 500;
        transition: all ease 0.3s;
    }
    .connect:hover{
        background-color: rgb(89, 89, 255);
        color: white;
    }

    #logo_large{
        height: 40vh;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #heading{
        font-size: 3.75vh;
        color: white;
        font-family: 'Montserrat';
        font-weight: 400;
        align-self: center;
        margin: 0;
    }

    .misc{
        font-size: 8vh;
        font-family: 'Montserrat';
        color: white;
        font-weight: 600;
        align-self: center;
        cursor: default;
        margin: 0;
    }

    .subhead{
        height: 120px;
        width: 100%;
        background-color: rgb(24, 24, 24);
        position: fixed;
        top: 50px;
        z-index: 100;
        display: none;
        justify-content: center;
        align-items: center;
    }

    .subhead_ele{
        height: 100px;
        margin-left: 50px;
        margin-right: 50px;
        cursor: pointer;
    }
    .subhead_icon{
        height: 70px;
        display: flex;
        justify-content: center;
    }
    .subhead_desc{
        display: flex;
        font-size: 18px;
        align-self: center;
        height: 20px;
        align-items: center;
        justify-content: center;
        color: white;
        font-family: 'Montserrat';
    }

    .subhead span{
        padding-top: 10px;
    }

    .subhead_element{
        height: 50px;
        align-self: center;
    }

    .text{
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 2.5vh;
        color: rgb(179, 179, 179);
        align-self: center;
        text-align: center;
    }

    .text a{
        color: red;
        text-decoration: none;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
    }
    .text a:hover{
        color: rgb(174, 0, 255);
    }

    .lang-imgs{
        height: 5vh;
        display: flex;
        justify-content: center;
    }

    .lang-icon{
        height: 5vh;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    }

    .inner_container{
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .inner{
        width: 780px;
        display: flex;
        flex-direction: column;
        min-height: 425px;
    }

    .navbar2{
        font-size: 20px;
        font-family: 'Montserrat';
        display: flex;
        justify-content: center;
        color: grey;
    }
    .navbar2 span{
        margin-left: 50px;
        margin-right: 50px;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
    }
    .navbar2 span:hover{
        color: white;
    }

    .active{
        color: white;
    }

    .subcontainer{
        min-height: 608px;
        width: 780px;
        display: none;
        flex-direction: column;
    }

    .subcontainer span{
        align-self: center;
        font-size: 20px;
        color: white;
        font-family: 'Montserrat';
        text-align: center;
    }

    .visible{
        display: flex;
    }

    .nav2_imgs{
        width: 780px;
    }

    .gap{
        height: 100px;
        display: block;
    }







    .container_heading{
        font-family: 'Montserrat';
        font-size: 60px;
        text-align: center;
        align-self: center;
        color: white;
        font-weight: 500;
        cursor: default;
    }

    .ft-container{
        height: 700px;
        max-height: auto;
        display: block;
        position: relative;
    }

    .sub-ft-container{
        display: flex;
        justify-content: center;
        background-color: black;
        height: 50%;
        width: 780px;
        align-self: center;
        margin: 0 auto;
    }

    .ft{
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-style: solid;
        border-color: rgb(174, 0, 255);
        border-width: 2px;
        margin-left: 30px;
        margin-right: 30px;
        cursor: pointer;
        transition: all ease-in-out 0.3s;
    }
    .ft:hover{
        border-color: rgb(153, 0, 0);
        box-shadow: 0px 0px 20px rgb(153, 0, 0);
    }

    .ft-icon{
        height: 30px;
        width: 30px;
        display: block;
        align-self: center;
    }

    .ft h3{
        font-family: 'Montserrat';
        font-size: 18px;
        font-family: 400;
        color: white;
        display: block;
        text-align: center;
    }

    .ft span{
        font-family: 'Montserrat';
        font-size: 15px;
        display: block;
        color: #cacaca;
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
    }





    .aipowered{
        color: white;
        font-family: 'Montserrat';
        font-weight: 400;
        width: 780px;
        display: flex;
        margin: 0 auto;
        font-size: 25px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    #email-community{
        font-family: 'Montserrat';
        font-size: 30px;
        color: white;
        border-style: solid;
        outline: none;
        background-color: black;
        border-color: white;
        padding: 10px 15px;
        transition: all ease 0.3s;
    }

    .inputemail{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #email-comm-submit{
        background-color: black;
        color: white;
        font-size: 20px;
        width: 200px;
        outline: none;
        text-decoration: underline;
        border-style: none;
        cursor: pointer;
        transition: all ease 0.4s;
    }
    #email-comm-submit:hover{
        background-color: white;
        color: black;
        outline-style: solid;
        outline-color: black;
        margin-left: 10px;
    }

    #email-community:active,
    #email-community:focus{
        border-color: blue;
    }

    .email-join-subheader{
        font-family: 'Montserrat';
        font-size: 30px;
        text-align: center;
        align-self: center;
        color: white;
        font-weight: 500;
        cursor: default;
        max-width: 1000px;
    }

    .subheademail{
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
    }
}