/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2b2b2b;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(29, 29, 29);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(20, 20, 20);
  }