html,
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
    height: 100%;
    width: 100%;
}

#menu,
#close{
    height: 30px;
    top: 20px;
    right: 20px;
    position: absolute;
}

#menuContainer{
    height: 100%;
    width: 100%;
    display: none;
    overflow-y: scroll;
}

.menulink{
    color: white;
    font-size: 30px;
    font-family: 'Montserrat';
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (min-width: 950px) {
    #container{
        max-width: 850px;
        margin: 0 auto;
    }
    #logo{
        margin-top: 100px;
        height: 100px;
    }

    #heading{
        color: white;
        font-size: 60px;
        font-family: 'Montserrat';
        font-weight: 400;
    }

    .content{
        color: white;
        font-family: 'Montserrat';
        font-size: 24px;
    }

    li{
        color: white;
        font-size: 24px;
        font-family: 'Inter';
        text-align: start;
    }

    #content2{
        text-align: center;
        color: white;
        font-family: 'Montserrat';
        font-size: 40px;
        text-decoration: underline;
    }
}


@media screen and (max-width: 949px) {
    #container{
        max-width: 500px;
        margin: 0 auto;
    }
    #logo{
        margin-top: 100px;
        height: 60px;
    }

    #heading{
        color: white;
        font-size: 45px;
        font-family: 'Montserrat';
        font-weight: 400;
    }

    .content{
        color: white;
        font-family: 'Montserrat';
        font-size: 24px;
    }

    li{
        color: white;
        font-size: 24px;
        font-family: 'Inter';
        text-align: start;
    }

    #content2{
        text-align: center;
        color: white;
        font-family: 'Montserrat';
        font-size: 40px;
        text-decoration: underline;
    }
}

@media screen and (max-width: 549px) {
    #container{
        max-width: 200px;
        margin: 0 auto;
    }
    #logo{
        margin-top: 100px;
        height: 40px;
    }

    #heading{
        color: white;
        font-size: 45px;
        font-family: 'Montserrat';
        font-weight: 400;
    }

    .content{
        color: white;
        font-family: 'Montserrat';
        font-size: 24px;
    }

    li{
        color: white;
        font-size: 24px;
        font-family: 'Inter';
        text-align: start;
    }

    #content2{
        text-align: center;
        color: white;
        font-family: 'Montserrat';
        font-size: 40px;
        text-decoration: underline;
    }
}